body {
    background-color: #0D0208;
    color: #00FF41;
    font-family: "Lucida Console", Monaco, monospace;
}

.container {
    width: 30%;
    margin: auto;
    text-align: center;
}

table {
    margin: auto;
}

a:link {
    color: #00FF41;
}

/* visited link */

a:visited {
    color: #00FF41;
}

input {
    background-color: #0D0208;
    color: #00FF41;
    border-color: #00FF41;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 4px;
}

td {
    width: 50%;
}

.btnTd {
    text-align: center;
    margin-top: 10px;
}

.encBtn {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    background-color: #0D0208;
    color: #00FF41;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 6px 10px 6px 10px;
    border-width: 1px;
    border-color: #00FF41;
}

.fi {
    display: none;
}

.tm {
    margin-top: 100px;
}

.center {
    text-align: center;
}

.dm {
    margin-top: 40px;
    margin-bottom: 40px;
}

.fileLabel {
    font-size: 0.8em;
}

.bottom {
    margin-top: 50px;
}

#status {
    display: inline-block;
    margin-top: 20px;
}

#status-dl {
    display: inline-block;
    margin-top: 20px;
}

.small {
    font-size: 0.8em;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #0D0208;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #00FF41;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.donate {
    margin-top: 20px;
    font-size: 0.8em;
}

#works, #why {
    display: none;
}

.nod {
    text-decoration: none;
}

.dsl {
    margin: 0px;
}

.donate {
    width: 80%
}

.anonrow {
    height: 28px;
}

/* Customize the label (the container) */
.lcontainer {
    margin-left:10px;
    display: inline-block;
    position: relative;
    padding-left: 18px;
    /* margin-bottom: 12px; */
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .lcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: #0D0208;
    padding: 0px;
    border: 1px solid #00FF41;
  }


  .lcontainer input:checked ~ .checkmark {
    background-color: #00FF41;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  #accessrow {
      display: none;
  }

  /* Show the checkmark when checked */
  .lcontainer input:checked ~ .checkmark:after {
    display: inline-block;
  }